<div class="row row--red">
  <div class="reason">
    <h3 class="reason__title">What do you feel like eating?</h3>
    <span class="reason__caption">With Meal planner, the possiblites are endless.....</span>
    <%= image_tag "food/chickenchips.jpg", :class => 'reason__img' %>
  </div>
    <div class="reason">
    <h3 class="reason__title">Something</h3>
    <span class="reason__caption">This is my middle caption</span>
    <%= image_tag "food/sushi.jpeg", :class => 'reason__img' %>
  </div>

    <div class="reason">
    <h3 class="reason__title">Great!</h3>
    <span class="reason__caption">This is my end caption</span>
    <%= image_tag "food/burger.jpg", :class => 'reason__img' %>
  </div>
</div>
