<div class="nested-fields">
  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div><!-- field -->
  <%= link_to_remove_association "Remove Ingredient", form %>
</div>
