<div class="app-container">
  <main class="content">
    <%= render 'nav/navblock' %>
    <div class="search">
      <h2 class="heading">Search for a recipe</h2>
      <div class="search__bar-container">
        <%= render :partial => "search/form"%>
      </div>
      <div class="recipes__results-container">
        <% if @recipes %>
          <% @recipes.each do |recipe|%>
            <%= link_to recipe.name, recipe, class: 'search__result-item' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= render 'footer/label' %>
  </main>
</div>
