<div class="app-container">
  <main class="content">
    <%= render 'nav/navblock' %>
    <div class="search">
      <h2 class="heading">Search for a recipe</h2>
      <div class="search__bar-container">
        <%= render :partial => "search/form", locals: {recipe: @recipe} %>
      </div>
      <% @recipe.each do |recipe| %>
        <h3><%= recipe.name %></h3>
      <% end %>
    </div>
    <%= render 'footer/label' %>
  </main>
</div>
