<div className="app-container">
  <div class="about">
    <main className="content">
    <%= render 'nav/navblock' %>
      <div class="about__content">
      <div>
        <h2 class="heading">About Us<h2>
      </div
          <%= image_tag "logos/logo.png"%>
          <p class="about__text">Here at Meal Planner, we believe in collecting and sharing recipes from all over the world. Although out list is small and limited at the moment, we aim to keep increasing that number to a comfortable standard. The best thing about our service is; anyone can contribute a recipe of any kind of dish, whether starter, main, or dessert.</p>
      </div>
      <%= render 'footer/label' %>
    </main>
  </div>
</div>
