<div className="app-container">
<main className="content">
  <div class="wrapper">
    <%= render 'nav/navblock' %>
    <div class="welcome-splash">
      <h1 class="welcome-splash__text">Hope your Hungry?</h1>
    </div>
    <h3 class="heading">What can you do?</h3>
      <%= render 'guides/how' %>
      <%= render 'footer/label' %>
      </main>
  </div>
</div>
