<div class="app-container">
  <main class="content">
    <%= render 'nav/navblock' %>
    <div class="welcome-splash">
      <h1 class="welcome-splash__text">Hope your Hungry?</h1>
    </div>
    <%= render 'reason/point' %>
    <h3 class="heading">What can you do?</h3>
    <%= render 'guides/how' %>
    <%= render 'footer/label' %>
  </main>
</div>
