<div class="home">
<%= render 'nav/navblock' %>
  <div class="welcome-splash">
      <h1 class="welcome-splash__text">Hope your Hungry?</h1>
  </div>

  <footer class="footer">
    <p class="footer__text">&copy; Developed by <a class="footer__anchor" href="https://github.com/samnaish">Sam Naish</a></p>
  </footer>
</div>
