// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.recipes-button {
    display: block;
    color: white;
    width: 200px;
    text-align: center;
    background-color: rgb(113, 0, 0);
    text-decoration: none;
    margin: 10px auto;
    padding: 10px;
    transition: all 0.3s ease 0s;
}

//========================================

$basic-text-color: #222;

.recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe__container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    justify-content: center;
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding: 10px;
}

.recipe__item {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(216, 216, 216);
}

.recipe__item-name {
    font-weight: 450;
}

.recipe__name-link {
    text-decoration: none;
    color: $basic-text-color;
}

.recipe__links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.recipe__link {
    margin: 5px;
    border: 1px solid;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #710000;
    padding: 10px;
    transition: 0.3s ease;
}

.recipe__link:hover {
    border-radius: 10px;
    background-color: #197278;
}
//========================================

.field__content {
    margin: 4px;
    display: block;
    font-weight: 500;
    height: 40px;
    width: 100%;
    min-width: 200px;
    padding: 0 10px;
    font-size: 16px;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.field__textarea {
    min-height: 70px;
    resize: none;
    outline: none;
    width: 100%;
    margin: 4px;
    min-width: 200px;
    padding: 0 10px;
    font-size: 16px;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

//===============================================


.edit_recipe {
    border: 1px solid deeppink;
    display: block;
    margin: 10px auto;
    background-color: #F5853F;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
}

.field__name {
    margin: 4px;
    display: block;
    font-weight: 500;
    height: 30px;
    width: 100%;
    min-width: 200px;
    padding: 0 10px;
    font-size: 16px;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.field__measure-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.delete {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid deeppink;
    text-decoration: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: rgb(255, 68, 68);
    color: white;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
}

.delete__container {
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin: 0 5px;
    border-radius: 5px;
}
 //==============================================

 .recipe__info-container {
    border: 1px solid deeppink;
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px;
    display: flex;
    flex-direction: row-reverse;
}

.recipe__description-container {
    border: 1px solid green;
    border-radius: 5px;
    margin-right: 5px;
    padding: 0px 10px;
}

.recipe__ingredientsmethod-container {
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 5px 10px;
}

.recipe__steps-box {
    border: 1px solid orange;
    max-width: 60%;
    padding: 5px;
}

.recipe__ingredient-box {
    border: 1px solid red;
}
