// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$basic-white: white;

.welcome-splash {
  background-image: url('food/takeout.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}
.welcome-splash__text {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-size: 5vw;
  color: #E5E5E5;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 20px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10px;
}
.row--red {
  background-color: #FF6663;
}
.recipes__button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.recipes-button {
  display: block;
  color: $basic-white;
  text-decoration: none;
  width: 200px;
  margin: 10px auto;
  text-align: center;
  background-color: #710000;
  padding: 10px;
  transition: 0.3s ease;
}
.recipes-button:hover {
  border-radius: 10px;
  background-color: #197278;
}

//======================================

.dish-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dish-list__item {
  width: 50%;
  min-width: 300px;
  padding: 10px;
}

.dish {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dish__image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
}

strong {
  font-weight: 500;
}

//======================================

.nav {
  background-color: #ffae03;
  margin: 0;
}
.nav__home {
  text-decoration: none;
  color: black;
  font-size: 30px;
  transition: 0.5s ease;
}
.nav__home:hover {
  color: $basic-white;
}
.nav__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav__logo {
  height: 50px;
  padding: 10px;
}
.nav__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

//======================================

.nav__links {
  list-style: none;
}

.nav__link {
  float: left;
  padding: 0 5px;
}

.nav__anchor:hover {
  color: black;
  background-color: #fff;
}

.nav__anchor {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: inline-block;
}

//======================================

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.about__logo {
  margin: 15px 0;
}
.about__text {
  margin: 0 5px;
  width: 80%;
}
@media srceen and (max-width: 540px) {
    .about__content {
      flex-wrap: wrap;
      width: 50%;
    }
}
//======================================

.how {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  width: 50%;
  outline: 1px solid black;
  padding: 10px;
}
.how__subtitle {
  font-size: 24px;
  margin: 10px;
}
.how__img {
  height: 60px;
  width: 60px;
  margin: 10px;
  object-fit: cover;
  padding: 10px;
}
.how__caption {
  text-align: center;
}

//======================================

.heading {
  display: block;
  font-size: 26px;
  padding: 10px;
  text-align: center;
  margin: 20px 0 20px 0;
}
.heading::before, .heading::after {
  content: '';
  border: 1px solid black;
}
.heading::before {
  margin-right: 10px;
}
.heading::after {
  margin-left: 10px;
}

//======================================

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search__bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search__bar {
  display: inline-block;
  padding: 10px;
  width: 50%;
  margin: 10px auto;
}
.search__button {
  display: block;
  border: none;
  color: $basic-white;
  text-decoration: none;
  width: 200px;
  margin: 10px auto;
  text-align: center;
  background-color: #710000;
  padding: 10px;
  transition: 0.3s ease;
}
.search__button:hover {
  border-radius: 10px;
  background-color: #197278;
}

//======================================

.alert-success {
  padding: 10px 0 0 0;
  text-align: center;
  background-color: #ffae03;
}

//======================================

.reason {
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  width: 33%;
}
.reason__title {
  text-align: center;
}
.reason__caption {
  text-align: center;
}
.reason__img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 10px;
  object-fit: cover;
  margin-bottom: 15px;
}

//======================================

.signup-page {
  background-image: url('food/ingredients.jpg');
  box-shadow: 0 3000px rgba(10, 0, 10, 0.3) inset;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: center;
  height: 700px;
  max-height: 800px;
  width: 100%;
}

.signup__form-outline {
  background-color: #F5853F;
  width: 400px;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
}

.signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup__field {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.signup__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup__button {
  margin-bottom: 20px;
  padding: 10px;
  width: 45%;
  height: 36px;
  background-color: #297373;
  color: $basic-white;
  text-decoration: none;
  border: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

.signup__button:hover {
  opacity: 0.8;
  background-color: #615d6c;
}

//======================================

.login-page {
  background-image: url('food/selectionbox.jpg');
  box-shadow: 0 3000px rgba(100, 20, 0, 0.3) inset;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  max-height: 800px;
  width: 100%;
}

.login__form-outline{
  background-color: #F5853F;
  width: 500px;
  margin: 20px auto;
  padding: 40px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
}

.login__field {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

//======================================

.fields__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgb(216, 216, 216);
}

.fields__left, .fields__right {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.field__input {
  display: block;
  margin: 5px auto;
  padding: 0 10px;
  margin-bottom: 10px;
  height: 36px;
  width: 100%;
  font-size: 16px;
  background-color: #EFE7DA;
  border: none;
  border-radius: 5px;
}

//======================================

.update {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.update__button {
  padding: 15px 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(41, 115, 115);
  color: $basic-white;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.update__button:hover{
  opacity: 0.8;
  background-color: #615d6c;
}

//======================================

.cancel__label {
  margin: 5px 0;
  color: $basic-white;
}

.cancel__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cancel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #dc0000;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgb(216, 216, 216);
  width: 90%;
}

.cancel__button {
  border-radius: 5px;
  border: none;
  color:rgba(232, 0, 18, 0.89);
  padding: 5px 10px;
  margin: 0 10px;
}

.cancel__button:hover {
  color: $basic-white;
  background-color: #dc0000;
  border: 1px solid $basic-white;
}

//======================================

.back-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  text-decoration: none;
  color: #222;
  transition: border 0.3s ease;
}

.back-link:hover {
  color: #0E4749;
}
//======================================



//======================================
$footer-color: #7c7287;
$footer-anchor-color: black;
$footer-anchover-color: darkgrey;

.footer {
  background-color: $footer-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}
.footer__anchor {
  text-decoration: none;
  color: $footer-anchor-color;
}
.footer__anchor:hover {
  color: $footer-anchover-color;
}

//======================================
