// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.welcome-splash {
    background-image: url('food/takeout.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}
.welcome-splash__text {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    font-size: 5vw;
    color: #E5E5E5;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.row--red {
    background-color: #FF6663;
}
.recipes__button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.recipes-button {
    display: block;
    color: white;
    text-decoration: none;
    width: 200px;
    margin: 10px auto;
    text-align: center;
    background-color: #710000;
    padding: 10px;
    transition: 0.3s ease;
}
.recipes-button:hover {
    border-radius: 10px;
    background-color: #197278;
}

//======================================

.nav {
  background-color: #ffae03;
  margin: 0;
}
.nav__home {
  text-decoration: none;
  color: black;
  font-size: 30px;
  transition: 0.5s ease;
}
.nav__home:hover {
  color: white;
}
.nav__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav__logo {
  height: 50px;
  padding: 10px;
}
.nav__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

//======================================

.nav__links {
  list-style: none;
}

.nav__link {
  float: left;
  padding: 0 5px;
}

.nav__anchor:hover {
  color: black;
  background-color: #fff;
}

.nav__anchor {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: inline-block;
}

//======================================

.about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about__logo {
    margin: 15px 0;
}
.about__text {
    margin: 0 5px;
    width: 80%;
}
@media srceen and (max-width: 540px) {
    .about__content {
        flex-wrap: wrap;
        width: 50%;
    }
}
//======================================

.how {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  width: 50%;
  outline: 1px solid black;
  padding: 10px;
}
.how__subtitle {
  font-size: 24px;
  margin: 10px;
}
.how__img {
  height: 60px;
  width: 60px;
  margin: 10px;
  object-fit: cover;
  padding: 10px;
}
.how__caption {
  text-align: center;
}

//======================================

.heading {
  display: block;
  font-size: 26px;
  padding: 10px;
  text-align: center;
  margin: 25px 0;
}
.heading::before, .heading::after {
  content: '';
  border: 1px solid black;
}
.heading::before {
  margin-right: 10px;
}
.heading::after {
  margin-left: 10px;
}

//======================================

.footer {
  background-color: #7c7287;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer__anchor {
  text-decoration: none;
  color: black;
}
.footer__anchor:hover {
  color: darkgrey;
}

//======================================



//======================================
