<div class="row">
  <div class="how">
    <span class="how__subtitle">1. Find the meal for you</span>
    <%= image_tag "https://img.icons8.com/ios/60/000000/book.png", width: '150px', class: "how__img" %>
    <p class="how__caption">Pick from a list of carefully selected recipes.</p>
  </div>

  <div class="how">
    <span class="how__subtitle">2. Plan and Gather</span>
    <%= image_tag "https://img.icons8.com/ios/60/000000/ingredients.png", width: '150px', class: "how__img" %>
    <p class="how__caption">Gather the ingredients you need.</p>
  </div>

  <div class="how">
    <span class="how__subtitle">3. Make and Bake</span>
    <%= image_tag "https://img.icons8.com/ios/60/000000/cooking-pot.png", width: '150px', class: "how__img" %>
    <p class="how__caption">Start Cooking!</p>
  </div>

  <div class="how">
    <span class="how__subtitle">4. If your creative...</span>
    <%= image_tag "https://img.icons8.com/ios/60/000000/add-column.png", width: '150px', class: "how__img" %>
    <p class="how__caption">If you have a recipe of your own, then you can add to our collection!</p>
  </div>
</div>
