<div class="nav">
  <div class="nav__container">
    <div class="nav__title">
      <%= image_tag "logos/logo.png", width: '150px' %>
      <a class="nav__home" href="/">Meal Planner</a>
    </div>
    <ul class="nav__links">
      <li class="nav__link"><a class="nav__anchor" href="/about">About</a></li>
      <li class="nav__link"><a class="nav__anchor" href="/search">Search</a></li>
      <li class="nav__link"><a class="nav__anchor" href="/signup">Sign Up</a></li>
      <li class="nav__link"><a class="nav__anchor" href="/login">Login</a></li>
    </ul>
  </div>
</div>
